<script src="%=static=%js/separate-js/svg4everybody.min.js"></script>
<script>svg4everybody();</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="zoom/jquery.loupe.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script>
	var hammer = new Hammer(document.querySelector('.carousel'));
	var $carousel = $(".carousel").carousel({"interval":0});
	hammer.get("swipe");
	hammer.on("swipeleft", function(){
		$carousel.carousel("next");
	});
	hammer.on("swiperight", function(){
		$carousel.carousel("prev");
	});
</script>

<!-- Main scripts. You can replace it, but I recommend you to leave it here     -->
<script src="%=static=%js/main%=hash=%%=min=%.js"></script>