<div class="hamburger">
	<a href="index.html" class="hamburger_logo"><span>avenue</span> fashion</a>
	<div class="hamburger_menu__btn"><i class="fas fa-bars fa-2x"></i><i class="fas fa-times fa-2x"></i></div>
	<div class="hamburger_menu">
		<div class="hamburger_currency">
			<select class="hamburger_selector">
				<option value="GBP" selected>GBP</option>
				<option value="KZT">KZT</option>
				<option value="USD">USD</option>
			</select>
		</div>
		<div class="hamburger_menu__container">
			<div class="hamburgerMenu">
				<div class="hamburgerMenu__menu"> Menu </div>
				<div class="hamburgerMenu__dropdown">Mens
					<p class="hamburgerMenu__dropdown_text">Casuals</p>
					<a href="look_book.html" class="hamburgerMenu__dropdown_link">Jackets</a>
					<a href="look_book.html" class="hamburgerMenu__dropdown_link">Hoodies & Sweatshirts</a>
					<a href="look_book.html" class="hamburgerMenu__dropdown_link">Polo Shirts</a>
					<a href="look_book.html" class="hamburgerMenu__dropdown_link">Sportswear</a>
					<a href="look_book.html" class="hamburgerMenu__dropdown_link">Trousers & Chinos</a>
					<a href="look_book.html" class="hamburgerMenu__dropdown_link">T-Shirts</a>
					<p class="hamburgerMenu__dropdown_text">Formal</p>
					<a href="look_book.html" class="hamburgerMenu__dropdown_link">Jackets</a>
					<a href="look_book.html" class="hamburgerMenu__dropdown_link">Shirts</a>
					<a href="look_book.html" class="hamburgerMenu__dropdown_link">Suits</a>
					<a href="look_book.html" class="hamburgerMenu__dropdown_link">Trousers</a>
				</div>
				<div class="hamburgerMenu__dropdown">Womens
					<p class="hamburgerMenu__dropdown_text">Casuals</p>
					<a href="look_book.html" class="hamburgerMenu__dropdown_link">Jackets</a>
					<a href="look_book.html" class="hamburgerMenu__dropdown_link">Hoodies & Sweatshirts</a>
					<a href="look_book.html" class="hamburgerMenu__dropdown_link">Polo Shirts</a>
					<a href="look_book.html" class="hamburgerMenu__dropdown_link">Sportswear</a>
					<a href="look_book.html" class="hamburgerMenu__dropdown_link">Trousers & Chinos</a>
					<a href="look_book.html" class="hamburgerMenu__dropdown_link">T-Shirts</a>
					<p class="hamburgerMenu__dropdown_text">Formal</p>
					<a href="look_book.html" class="hamburgerMenu__dropdown_link">Jackets</a>
					<a href="look_book.html#" class="hamburgerMenu__dropdown_link">Shirts</a>
					<a href="look_book.html" class="hamburgerMenu__dropdown_link">Suits</a>
					<a href="look_book.html" class="hamburgerMenu__dropdown_link">Trousers</a></div>
					<a href="brand.html" class="hamburgerMenu__dropdown brand">The brand</a>
					<a href="local_stores.html" class="hamburgerMenu__dropdown localStores">Local Stores</a>
					<div class="hamburgerMenu__dropdown">Look Book
						<p class="hamburgerMenu__dropdown_text">Our lookbooks</p>
						<a href="look_book.html" class="hamburgerMenu__dropdown_link">Latest Posts (Mixed)</a>
						<a href="look_book.html" class="hamburgerMenu__dropdown_link">Men’s Lookbook</a>
						<a href="look_book.html" class="hamburgerMenu__dropdown_link">Women’s Lookbook</a>
						<p class="hamburgerMenu__dropdown_text">YOUR LOOKBOOK</p>
						<a href="look_book.html" class="hamburgerMenu__dropdown_link">View And Edit</a>
						<a href="look_book.html" class="hamburgerMenu__dropdown_link">Share</a>
						<a href="look_book.html" class="hamburgerMenu__dropdown_link">Delete</a>
					</div>
					<a href="sign_in.html" class="hamburgerMenu__dropdown">Sign in</a>
					<a href="sign_in.html" class="hamburgerMenu__dropdown">Register</a>
					<a href="#" class="hamburgerMenu__dropdown">Basket</a>
					<div class="hamburgerMenu__dropdown hamburgerSearch">
						<input type="search" placeholder="Search..." class="hamburgerMenu_search" name="hamburgerMenu_search">
						<button class="hamburgerMenu_search_btn"><i class="fas fa-search"></i></button>
					</div>
				</div>
			</div>
		</div>
	</div>
