<div class="productSlider">
	<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">
    <div class="carousel-inner">
      <div class="carousel-item active">
       <div class="productSlider_slide">
        <img class="zoom" src="static/img/assets/product_page/big_photo.png" width="571" height="710" />
        <img class="mobile" src="static/img/assets/product_page/photo.png" alt="">
      </div>
    </div>
    <div class="carousel-item">
      <div class="productSlider_slide">
      	<img class="zoom" src="static/img/assets/product_page/big_photo.png" width="571" height="710" />
        <img class="mobile" src="static/img/assets/product_page/photo.png" alt="">
      </div>
    </div>
    <div class="carousel-item">
      <div class="productSlider_slide">
      	<img class="zoom" src="static/img/assets/product_page/big_photo.png" width="571" height="710" />
        <img class="mobile" src="static/img/assets/product_page/photo.png" alt="">
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <i class="fas fa-chevron-left fa-2x"></i>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <i class="fas fa-chevron-right fa-2x"></i>
  </a>
</div>
</div>
<script type="text/javascript">
  $('.zoom').loupe();
</script>