/*sprite with stars*/
#reviewStars-input input:checked ~ label, #reviewStars-input label, #reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
  background: url('%=static=%assets/product_page/stars.png') no-repeat;
}

#reviewStars-input {
  margin: 0;
  padding-top: 2.5px;
  margin-right: 10px;
  /*fix floating problems*/
  overflow: hidden;
  *zoom: 1;
  /*end of fix floating problems*/
  
  position: relative;
  float: left;
}

#reviewStars-input input {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  
  width: 15px;
  height: 15px;
  
  position: absolute;
  top: 0px;
  z-index: 0;
}

#reviewStars-input input:checked ~ label {
  background-position: 0 -14px;
  height: 15px;
  width: 15px;
}

#reviewStars-input label {
  background-position: 0 1px;
  height: 15px;
  width: 15px;
  float: right;
  cursor: pointer;
  margin-right: 0px;
  
  position: relative;
  z-index: 1;
}

#reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
  background-position: 0 -14px;
  height: 15px;
  width: 15px;
  overflow: hidden;
}

#reviewStars-input #star-0 {
  left: 0px;
}
#reviewStars-input #star-1 {
  left: 15px;
}
#reviewStars-input #star-2 {
  left: 30px;
}
#reviewStars-input #star-3 {
  left: 45px;
}
#reviewStars-input #star-4 {
  left: 60px;
}
#reviewStars-input #star-5 {
  left: 75px;
}