<div id="reviewStars-input">
	<input id="star-4" type="radio" name="reviewStars"/>
	<label title="5" for="star-4"></label>

	<input id="star-3" type="radio" name="reviewStars"/>
	<label title="4" for="star-3"></label>

	<input id="star-2" type="radio" name="reviewStars"/>
	<label title="3" for="star-2"></label>

	<input id="star-1" type="radio" name="reviewStars"/>
	<label title="2" for="star-1"></label>

	<input id="star-0" type="radio" name="reviewStars"/>
	<label title="1" for="star-0"></label>
</div>