//Montserrat Bold
@font-face {
  font-family: 'Montserrat Bold';
  src: url(../fonts/Montserrat/Montserrat-Bold.ttf); 
}
//Montserrat Light
@font-face {
  font-family: 'Montserrat Light';
  src: url(../fonts/Montserrat/Montserrat-Light.ttf); 
}
//Montserrat Regular
@font-face {
  font-family: 'Montserrat Regular';
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf); 
}
//Roboto Regular
@font-face {
  font-family: 'Roboto Regular';
  src: url(../fonts/Roboto/Roboto-Regular.ttf); 
}
//ProximaNova Bold
@font-face {
  font-family: 'ProximaNova Bold';
  src: url(../fonts/Roboto/ProximaNova-Bold.ttf); 
}