.footer {
	width: 1180px;
	min-height: 589px;
	height: auto;
	margin: 0px auto;
	&_background {
		margin-top: 124px;
		width: 100%;
		min-height: 589px;
		height: auto;
		background-color: #f8f8f8;
	}
	&_information {
		box-sizing: border-box;
		padding-top: 64px;
		width: 100%;
		min-height: 333px;
		height: auto;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		&__item {
			width: 20%;
			min-height: 333px;
			height: auto;
		}
	}
	&_banners {
		width: 100%;
		min-height: 256px;
		height: auto;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&_h3 {
		text-transform: uppercase;
		font-size: 13px;
		font-family: 'Montserrat Light', Arial ,sans-serif;
		color: #575153;
		font-weight: bolder;
		margin-bottom: 34px;
		cursor: default;
	}
	&_text {
		transition: 0.3s;
		display: block;
		font-size: 14px;
		font-family: 'Montserrat Light', Arial ,sans-serif;
		color: #727272;
		margin-bottom: 20px;
		&:hover {
			color: #00c8c8;
			text-decoration: none;
		}
		&.noHover:hover {
			color: #727272;
			cursor: default;
		} 
	}
	&_link {
		transition: 0.3s;
		font-size: 14px;
		font-family: 'Montserrat Light', Arial ,sans-serif;
		color: #727272;
		&:hover {
			color: #00c8c8;
			text-decoration: none;
		}
	}
}
.footer_banners__item {
	width: 570px;
	height: 200px;
	background-color: #333333;
	text-align: center;
	font-size: 36px;
	text-transform: uppercase;
	color: #ffffff;
	font-family: 'Montserrat Light', Arial ,sans-serif;
	box-sizing: border-box;
	padding-top: 60px;
	cursor: default;
	p {
		font-family: 'Montserrat Bold', Arial ,sans-serif;
		margin-bottom: 0;
	}
	&.social {
		background-color: #00c8c8;
		padding: 0px 140px;
		padding-top: 86px;
		display: flex;
		justify-content: space-around;
		a {
			color: #fff;
		}
	}
}
.footer_social_icons:hover {
	transition: 0.3s;
	cursor: pointer;
	color: #333333;
}
//Media 1024px
@media (max-width: 1279px) {
	.footer {
		width: 976px;
		&_background {
			margin-top: 70px;
		}
	}
	.footer_information__item {
		width: 19%;
		&:last-child {
			width: 24%;
		}
	}
	.footer_banners__item {
		width: 480px;
		&.social {
			padding-left: 40px;
			padding-right: 40px;
		}
	}
}
//Media 768px
@media (max-width: 1023px) {
	.footer {
		width: 708px;
		&_background {
			margin-top: 70px;
		}
	}
	.footer_information {
		justify-content: space-around;
		&__item {
			text-align: center;
			width: 50%;
			min-height: 280px;
			&:last-child {
				width: 100%;
				min-height: 200px;
			}
		}
	}
	.footer_banners {
		justify-content: space-around;
		&__item {
			width: 95%;
			margin-bottom: 30px;
			&.social {
				padding-left: 60px;
				padding-right: 60px;
			}
		}
	}
}
//Media 600px
@media (max-width: 767px) {
	.footer {
		width: 590px;
	}
}
//Media 480px
@media (max-width: 599px) {
	.footer {
		width: 470px;
	}
	.footer_information {
		justify-content: space-around;
		&__item {
			text-align: center;
			width: 90%;
			&:last-child {
				width: 90%;
				min-height: 200px;
			}
		}
	}
}
//Media 320px
@media (max-width: 479px) {
	.footer {
		width: 310px;
	}
	.footer_banners__item.award {
		padding-top: 35px;
		padding-left: 10px;
		padding-right: 10px;
		font-size: 30px;
	}
}