<div class="lookBook_top">
	<div class="intro">
		<img src="%=static=%img/general/photo.png" alt="">
		<span class="intro_bgText">A V E</span>
		<div class="darken"></div>
		<div class="intro_text">
			<h2 class="intro_h2"><span>our</span> lookbook</h2>
			<h3 class="intro_h3">Latest Posts - mens & womens</h3>
		</div>
	</div>
</div>
<div class="lookBook_content">
	<div class="lookBook_content__menu">
		<a href="#" class="lookBook_content__menu__item">latest</a>
		<a href="#" class="lookBook_content__menu__item">most liked</a>
		<a href="#" class="lookBook_content__menu__item">best sellers</a>
		<a href="#" class="lookBook_content__menu__item">price low to high</a>
		<a href="#" class="lookBook_content__menu__item">price high to low</a>
	</div>
	<div class="lookBook_content__container">
		<div class="lookBook_content__container__item"><img src="static/img/assets/lookBook_page/photo1.png" alt="">
			<div class="lookBook_smallText"><p><span>ref</span>m1</p></div>
			<div class="lookBook_icons">
				<a href="product.html"><i class="fas fa-info-circle"></i></a>
				<a href="#"><i class="fab fa-gratipay"></i></a>
			</div>
		</div>
		<div class="lookBook_content__container__item"><img src="static/img/assets/lookBook_page/photo2.png" alt="">
			<div class="lookBook_smallText"><p><span>ref</span>w1</p></div>
			<div class="lookBook_icons">
				<a href="product.html"><i class="fas fa-info-circle"></i></a>
				<a href="#"><i class="fab fa-gratipay"></i></a>
			</div>
		</div>
		<div class="lookBook_content__container__item large">
			<span class="dark">
				<img src="static/img/assets/lookBook_page/REPLACE.png" alt="">
				<h2 class="largeBanner_h2"><span>Jane’s</span> lookbook</h2>
				<h3 class="largeBanner_h3">get the look for under £200!</h3>
				<p class="largeBanner_text">We invited actress Jane Marshall to join us for the day and choose her perfect outfit from our vast range of womens fashion.</p>
				<p class="largeBanner_text wider">This is of course not true as this is just a design for a website and this is simply filler text.</p>
				<a href="#" class="largeBanner_link">view now</a>
			</span>
		</div>
		<div class="lookBook_content__container__item"><img src="static/img/assets/lookBook_page/photo3.png" alt="">
			<div class="lookBook_smallText"><p><span>ref</span>mj1</p></div>
			<div class="lookBook_icons">
				<a href="product.html"><i class="fas fa-info-circle"></i></a>
				<a href="#"><i class="fab fa-gratipay"></i></a>
			</div>
		</div>
		<div class="lookBook_content__container__item"><img src="static/img/assets/lookBook_page/photo4.png" alt="">
			<div class="lookBook_smallText"><p><span>ref</span>m2</p></div>
			<div class="lookBook_icons">
				<a href="product.html"><i class="fas fa-info-circle"></i></a>
				<a href="#"><i class="fab fa-gratipay"></i></a>
			</div>
		</div>
		<div class="lookBook_content__container__item"><img src="static/img/assets/lookBook_page/photo5.png" alt="">
			<div class="lookBook_smallText"><p><span>ref</span>w2</p></div>
			<div class="lookBook_icons">
				<a href="product.html"><i class="fas fa-info-circle"></i></a>
				<a href="#"><i class="fab fa-gratipay"></i></a>
			</div>
		</div>
		<div class="lookBook_content__container__item"><img src="static/img/assets/lookBook_page/photo6.png" alt="">
			<div class="lookBook_smallText"><p><span>ref</span>w3</p></div>
			<div class="lookBook_icons">
				<a href="product.html"><i class="fas fa-info-circle"></i></a>
				<a href="#"><i class="fab fa-gratipay"></i></a>
			</div>
		</div>
		<div class="lookBook_content__container__item extraLarge">
			<span class="dark">
				<img src="static/img/assets/lookBook_page/REPLACE_BIG.png" alt="">
				<h1 class="extraLargeBanner_h1"><span>win</span> a new look</h1>
				<h2 class="extraLargeBanner_h2"><span>win</span> a new look!</h2>
				<h3 class="extraLargeBanner_h3">add looks or items to your lookbook for a chance of winning</h3>
				<p class="extraLargeBanner_text">See an item or a complete look you like, click the <i class="far fa-heart"></i> button to add it to your lookbook and you’ll be automatically entered to our monthly draw where one winner gets a <span>£300</span> gift voucher to spend on our website!</p>
				<p class="extraLargeBanner_text">Terms: No purchase necessary. Vouchers are non-transferable and no cash alternative is ofered. Competition is for members only.</p>
				<a href="#" class="extraLargeBanner_link">Shop now</a>
			</span>
		</div>
		<div class="lookBook_content__container__item">
			<img src="static/img/assets/lookBook_page/photo7.png" alt="">
			<div class="lookBook_smallText"><p><span>ref</span>w4</p></div>
			<div class="lookBook_icons">
				<a href="product.html"><i class="fas fa-info-circle"></i></a>
				<a href="#"><i class="fab fa-gratipay"></i></a>
			</div>
		</div>
	</div>
</div>