.lookBook_content {
	width: 1770px;
	min-height: 1750px;
	height: auto;
	margin: 0px auto;
	margin-top: 63px;
	box-sizing: border-box;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
}
.lookBook_content {
	&__menu {
		width: 100%;
		height: 126px;
		display: flex;
		justify-content: flex-start;
		line-height: 126px;
		font-size: 13px;
		&__item {
			text-transform: uppercase;
			transition: 0.3s;
			margin-right: 55px;
			font-family: 'Montserrat Regular', Arial ,sans-serif;
			color: #727272;
			font-weight: bolder;
			&:hover {
				text-decoration: none;
				color: #77e2e2;
			}
		}
	}
}
.lookBook_content__container {
	width: 1770px;
	min-height: 1560px;
	height: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	&__item {
		width: 420px;
		height: 500px;
		overflow: hidden;
		img {
			max-width: 100%;
		}
	}
	&__item.large {
		width: 870px;
		height: 500px;
		img {
			max-width: 100%;
		}
	}
	&__item.extraLarge {
		width: 1320px;
		height: 500px;
		img {
			max-width: 100%;
		}
	}
}
.lookBook_content__container__item {
	position: relative;
	cursor: pointer;
	transition: 0.5s;
	&:hover {
		box-shadow: 0px 10px 10px rgba(0,0,0,0.4);
	}
	.lookBook_smallText {
		position: absolute;
		top: 15px;
		left: 15px;
		font-size: 21px;
		font-family: 'Montserrat Light', Arial ,sans-serif;
		text-transform: uppercase;
		color: #9a9a9a;
		p {
			position: relative;
			padding-left: 25px;
			span {
				font-size: 12px;
				position: absolute;
				top: 2px;
				left: 1px;
			}
		}
	}
}
.lookBook_content__container__item:hover {
	.lookBook_icons {
		opacity: 1;
	}
}
.lookBook_icons {
	opacity: 0;
	transition: 0.5s;
	width: 115px;
	height: 43px;
	position: absolute;
	top: calc(65% - 21.5px);
	left: calc(50% - 57.5px;);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	i {
		transition: 0.3s;
		font-size: 45px;
		color: #fff;
		&:hover {
			color: #00c8c8;
		}
	}
}
.lookBook_content__container__item.large {
	position: relative;
	box-sizing: border-box;
	padding-top: 64px;
	padding-left: 15px;
	img {
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: -1;
	}
	.largeBanner {
		&_h2 {
			color: #575153;
			font-size: 48px;
			text-transform: uppercase;
			font-family: 'Montserrat Light', Arial ,sans-serif;
			margin: 0px;
			margin-bottom: 30px;
			span {
				font-family: 'Montserrat Bold', Arial ,sans-serif;
			}
		}
		&_h3 {
			color: #727272;
			font-size: 13px;
			text-transform: uppercase;
			font-family: 'Montserrat Regular', Arial ,sans-serif;
			margin: 0px;
			margin-bottom: 20px;
			font-weight: bolder;
		}
		&_text {
			width: 310px;
			color: #8e8c8c;
			font-size: 15px;
			font-family: 'Roboto Regular', Arial ,sans-serif;
			line-height: 1.467;
			margin-bottom: 33px;
		}
		&_text.wider {
			width: 320px;
		}
		&_link {
			display: block;
			width: 180px;
			height: 59px;
			box-sizing: border-box;
			border: 2px solid #737373;
			color: #454647;
			font-size: 16px;
			font-family: 'Montserrat Regular', Arial ,sans-serif;
			text-align: center;
			line-height: 59px;
			text-transform: uppercase;
			transition: 0.3s;
			font-weight: bolder;
			&:hover {
				text-decoration: none;
				background-color: #00c8c8;
				border: 2px solid #00c8c8;
				color: #fff;
			}
		}
	}
}
.lookBook_content__container__item.extraLarge {
	position: relative;
	box-sizing: border-box;
	padding: 0px 15px;
	padding-top: 63px;
	img {
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: -1;	
	}
	.extraLargeBanner {
		&_h1 {
			padding-top: 102px;
			text-transform: uppercase;
			margin: 0px;
			line-height: 1;
			width: 520px;
			text-align: right;
			float: right;
			font-size: 72px;
			font-family: 'Montserrat Bold', Arial ,sans-serif;
			color: #00c8c8;
			letter-spacing: 1.5px;
			span {
				font-size: 200px;
			}
		}
		&_h2 {
			color: #575153;
			font-size: 48px;
			text-transform: uppercase;
			font-family: 'Montserrat Light', Arial ,sans-serif;
			margin: 0px;
			margin-bottom: 30px;
			span {
				font-family: 'Montserrat Bold', Arial ,sans-serif;
			}
		}
		&_h3 {
			color: #727272;
			font-size: 13px;
			text-transform: uppercase;
			font-family: 'Montserrat Regular', Arial ,sans-serif;
			margin: 0px;
			margin-bottom: 20px;
			font-weight: bolder;
		}
		&_text {
			width: 500px;
			color: #8e8c8c;
			font-size: 15px;
			font-family: 'Roboto Regular', Arial ,sans-serif;
			line-height: 1.467;
			margin-bottom: 33px;
			span {
				font-family: 'Montserrat Bold', Arial ,sans-serif;
			}
		}
		&_link {
			display: block;
			width: 180px;
			height: 59px;
			box-sizing: border-box;
			border: 2px solid #737373;
			color: #454647;
			font-size: 16px;
			font-family: 'Montserrat Regular', Arial ,sans-serif;
			text-align: center;
			line-height: 59px;
			text-transform: uppercase;
			transition: 0.3s;
			font-weight: bolder;
			&:hover {
				text-decoration: none;
				background-color: #00c8c8;
				border: 2px solid #00c8c8;
				color: #fff;
			}
		}
	}
}
//Media 1600px
@media (max-width: 1919px) {
	.lookBook_content {
		width: 1540px;
		min-height: 1351px;
		height: auto;
  }
  .lookBook_content__container {
		width: 1540px;
		min-height: 1351px;
		height: auto;
	}
	.lookBook_content__container {
		width: 1540px;
		min-height: 1351px;
		height: auto;
		&__item {
			width: 355px;
			height: 417px;
			overflow: hidden;
		}
		&__item.large {
			width: 750px;
			height: 417px;
			padding-top: 34px;
		}
		&__item.extraLarge {
			width: 1147px;
			height: 417px;
			padding-top: 34px;
		}
}
}
//Media 1280px
@media (max-width: 1599px) {
	.lookBook_content {
		width: 1220px;
  }
	.lookBook_content__container {
		width: 790px;
		margin: 0px auto;	
		justify-content: space-around;
		&__item {
			width: 355px;
			height: 417px;
			overflow: hidden;
			margin-bottom: 40px;
		}
		&__item.large {
			width: 750px;
			height: 417px;
			padding-top: 34px;
		}
		&__item.extraLarge {
			position: relative;
			width: 750px;
			height: 417px;
			padding-top: 34px;
	    background-image: url("%=static=%assets/lookBook_page/REPLACE_BIG.png");
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: 0% 50%;
			.extraLargeBanner_h1 {
				width: 450px;
				position: absolute;
				bottom: 0px;
				right: 0px;
				padding-top: 0px;
				span {
					font-size: 100px;
					display: block;
				}
				font-size: 50px;
			}
			img {
				display: none;
			}
		}
	}
}
//Media 1024px
@media (max-width: 1279px) {
	.lookBook_content {
		width: 976px;
		&__menu {
			justify-content: space-around;
		}
  }
}
//Media 768px
@media (max-width: 1023px) {
	.lookBook_content {
		width: 738px;
		&__menu {
			justify-content: space-around;
		}
  }
  .lookBook_content__menu__item {
  	margin-right: 10px;
  }
	.lookBook_content__container {
		width: 738px;
		margin: 0px auto;	
		justify-content: space-around;
		&__item {
			width: 355px;
			height: 417px;
			overflow: hidden;
			margin-bottom: 40px;
		}
		&__item.large {
			width: 738px;
			height: 417px;
			padding-top: 34px;
		}
		&__item.extraLarge {
			position: relative;
			width: 738px;
			height: 417px;
			padding-top: 34px;
	    background-image: url("%=static=%assets/lookBook_page/REPLACE_BIG.png");
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: 0% 50%;
			.extraLargeBanner_h1 {
				width: 450px;
				position: absolute;
				bottom: 0px;
				right: 0px;
				padding-top: 0px;
				span {
					font-size: 100px;
					display: block;
				}
				font-size: 50px;
			}
			img {
				display: none;
			}
		}
	}
}
//Media 600px
@media (max-width: 767px) {
	.lookBook_content {
		width: 590px;
		&__menu {
			justify-content: space-around;
		}
  }
  .lookBook_content__menu__item {
  	margin-right: 10px;
  }
	.lookBook_content__container {
		width: 590px;
		margin: 0px auto;	
		justify-content: space-around;
		&__item {
			width: 280px;
			height: 330px;
			overflow: hidden;
			margin-bottom: 40px;
		}
		&__item.large {
			width: 570px;
			height: 330px;
			padding-top: 34px;
			position: relative;
			.largeBanner_link {
				position: absolute;
				right: 20px;
				bottom: 20px;
				background-color: rgba(248,248,248,0.7);
			}
		}
		&__item.extraLarge {
			position: relative;
			width: 570px;
			height: 417px;
			padding-top: 34px;
	    background-image: url("%=static=%assets/lookBook_page/REPLACE_BIG.png");
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: 20% 50%;
			.extraLargeBanner_h1 {
				display: none;
				span {
					font-size: 100px;
					display: block;
				}
				font-size: 50px;
			}
			.extraLargeBanner_link {
				background-color: rgba(248,248,248,0.7);
			}
			img {
				display: none;
			}
		}
	}
}
//Media 480px
@media (max-width: 599px) {
	.lookBook_content {
		width: 470px;
		&__menu {
			justify-content: space-around;
		}
  }
  .lookBook_content__menu {
  	flex-wrap: wrap;
  	line-height: 50px;
  }
  .lookBook_content__menu__item {
  	margin-right: 10px;
  }
	.lookBook_content__container {
		width: 470px;
		margin: 0px auto;	
		justify-content: space-around;
		&__item {
			width: 380px;
			height: 455px;
			overflow: hidden;
			margin-bottom: 40px;
		}
		&__item.large {
			width: 380px;
			height: 500px;
			padding-top: 34px;
			position: relative;
	    background-image: url("%=static=%assets/lookBook_page/REPLACE.png");
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: 80% 50%;
	    padding: 0;
	    .dark {
	    	box-sizing: border-box;
	    	padding-top: 15px;
	    	padding-left: 15px;
	    	width: 100%;
	    	height: 100%;
	    	display: block;
	    	background-color: rgba(0,0,0,0.4);
	    	.largeBanner_h2,
	    	.largeBanner_h3,
	    	.largeBanner_text {
	    		color: #f8f8f8;
	    	}
	    }
			img {
				display: none;
			}
			.largeBanner_link {
				position: absolute;
				right: 20px;
				bottom: 20px;
				color: #f8f8f8;
				background-color: rgba(0,0,0,0.4);
				border-color: #f8f8f8;
			}
		}
		&__item.extraLarge {
			position: relative;
			width: 380px;
			height: 550px;
			padding-top: 34px;
	    background-image: url("%=static=%assets/lookBook_page/REPLACE_BIG.png");
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: 50% 50%;
	    padding: 0;
	    .dark {
	    	box-sizing: border-box;
	    	padding-top: 15px;
	    	padding-left: 15px;
	    	width: 100%;
	    	height: 100%;
	    	display: block;
	    	background-color: rgba(0,0,0,0.4);
	    	.extraLargeBanner_h2,
	    	.extraLargeBanner_h3,
	    	.extraLargeBanner_text {
	    		color: #f8f8f8;
	    	}
	    }
	    .extraLargeBanner_text {
	    	width: 100%;
	    }
	    .extraLargeBanner_link {
				color: #f8f8f8;
				background-color: rgba(0,0,0,0.4);
				border-color: #f8f8f8;
	    }
			.extraLargeBanner_h1 {
				display: none;
				span {
					font-size: 100px;
					display: block;
				}
				font-size: 50px;
			}
			img {
				display: none;
			}
		}
	}
}
//Media 320px
@media (max-width: 479px) {
	.lookBook_content {
		width: 310px;
  }
	.lookBook_content__container {
		width: 310px;
		&__item {
			width: 300px;
			height: 355px;
		}
		&__item.large {
			width: 300px;
			height: 500px;
			position: relative;
	    background-position: 80% 50%;
			.largeBanner_link {
				position: absolute;
				right: 20px;
				bottom: 20px;
			}
			.largeBanner_text, .largeBanner_text.wider {
				width: 90%;
			}
			.largeBanner_h2 {
				font-size: 44px;
			}
		}
		&__item.extraLarge {
			position: relative;
			width: 300px;
			height: 690px;
	    background-position: 50% 50%;
	    .extraLargeBanner_text {
	    	width: 90%;
	    }
		}
	}
}