<div class="lookBook">
	<div class="lookBook_item">
		<div class="lookBook_item__img"><img src="static/img/assets/lookBook/REPLACE_man.png" alt=""></div>
		<h3 class="lookBook_item__h3"><span>men’s</span> lookbook</h3>
		<p class="lookBook_item__text">Lorem ipsum dolor sit amet eras facilisis consectetur adipiscing elit lor, integer lorem consecteur dignissim laciniqui. Elementum metus facilisis ut phasellu.</p>
		<a href="look_book.html" class="lookBook_item__link">view now</a>
	</div>
	<div class="lookBook_item">
		<div class="lookBook_item__img"><img src="static/img/assets/lookBook/REPLACE_woman.png" alt=""></div>
		<h3 class="lookBook_item__h3"><span>women’s</span> lookbook</h3>
		<p class="lookBook_item__text">Pellentesque habitant morbi tristique senectus et netus et malesuada fames. Pellentesque laoreet quis enim et mattis. Quisque interdum felis tellus.</p>
		<a href="look_book.html" class="lookBook_item__link">view now</a>
	</div>
	<div class="lookBook_item">
		<div class="lookBook_item__img"><img src="static/img/assets/lookBook/REPLACE_shadow.png" alt=""></div>
		<h3 class="lookBook_item__h3"><span>your</span> lookbook</h3>
		<p class="lookBook_item__text">See an item you like and click the <i class="far fa-heart"></i> button to add it to your lookbook where you can create your own perfect look. It’s like your own boutique!</p>
		<a href="look_book.html" class="lookBook_item__link">view now</a>
	</div>
</div>