.lookBook {
	width: 2050px;
	min-height: 530px;
	height: auto;
	margin: 0px auto;
	margin-top: 36px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	&_item {
		width: 663px;
		height: 530px;
		box-sizing: border-box;
		padding-top: 98px;
		padding-right: 56px;
		position: relative;
		text-align: right;
		clear: both;
		overflow: hidden;
		&__img {
			position: absolute;
			bottom: 0px;
			z-index: -1;
		}
		&__h3 {
			color: #575153;
			font-family: 'Montserrat Light', Arial ,sans-serif;
			width: 310px;
			font-size: 48px;
			text-transform: uppercase;
			float: right;
			span {
				font-family: 'Montserrat Bold', Arial ,sans-serif;
			}
		}
		&__text {
			width: 300px;
			font-family: 'Roboto Regular', Arial ,sans-serif;
			font-size: 15px;
			color: #727272;
			letter-spacing: 0.1px;
			float: right;
			cursor: default;
			margin-bottom: 30px;
		}
		&__link {
			display: block;
			width: 180px;
			height: 59px;
			position: absolute;
			bottom: 142px;
			right: 57px;
			box-sizing: border-box;
			border: 2px solid #737373;
			line-height: 59px;
			color: #454647;
			text-align: center;
			text-transform: uppercase;
			cursor: pointer;
			transition: 0.3s;
			&:hover {
				color: #ffffff;
				border: 2px solid #00c8c8;
				background-color: #00c8c8;
				text-decoration: none;
			}
		}
	}
}
//Media 1920px
@media (max-width: 2049px) {
	.lookBook {
    width: calc(1920px - calc(100vw - 100%));
		&_item {
			width: 620px;
		}
  }
}
//Media 1600px
@media (max-width: 1919px) {
	.lookBook {
    width: calc(1600px - calc(100vw - 100%));
		&_item {
			width: 510px;
			padding-top: 60px;
			padding-right: 15px;
		}
		.lookBook_item__link {
			right: 15px;
		}
  }
}
//Media 1280px
@media (max-width: 1599px) {
	.lookBook {
		flex-wrap: wrap;
		justify-content: space-around;
		width: calc(1280px - calc(100vw - 100%));
		&_item {
			width: 48%;
			padding-top: 90px;
			padding-right: 30px;
			&:last-child {
				margin-top: 30px;
				width: 98%;
				background-color: #f8f8f8;
				box-sizing: border-box;
				padding-left: 450px;
				.lookBook_item__h3 {
					left: 90px;
					text-align: left;
					font-size: 60px;
				}
				.lookBook_item__text {
					right: 90px;
					font-size: 20px;
					width: 400px;
				}
				.lookBook_item__link {
					right: 90px;
				}
			}
		}
		.lookBook_item__img {
			z-index: 1;
		}
		.lookBook_item__h3, .lookBook_item__text, .lookBook_item__link {
			position: absolute;
			z-index: 10;
		}
		.lookBook_item__h3 {
			top: 60px;
			right: 30px;
		}
		.lookBook_item__text {
			top: 220px;
			right: 30px;
		}
		.lookBook_item__link {
			right: 30px;
			bottom: 80px;
		}
	}
}