<div class="brand_top">
	<div class="intro">
		<img src="%=static=%img/general/photo.png" alt="">
		<span class="intro_bgText">A V E</span>
		<div class="darken"></div>
		<div class="intro_text">
			<h2 class="intro_h2"><span>the</span> brand</h2>
			<h3 class="intro_h3">company slogan goes here</h3>
		</div>
	</div>
</div>
<div class="brand_mainContainer">
	<div class="brand_mainContainer__item">
		<div class="brand_mainContainer__item__img"><img src="static/img/assets/brand_page/REPLACE_1.png" alt=""></div>
		<div class="brand_mainContainer__item__img"><img src="static/img/assets/brand_page/REPLACE_2.png" alt=""></div>
		<div class="brand_mainContainer__item__textContainer">
			<div class="brand_mainContainer__item__h4">our values, vision and strategy</div>
			<div class="brand_mainContainer__item__h5">The above image would be a great place for an advertising video</div>
			<div class="brand_mainContainer__item__text">Cras maximus venenatis malesuada. Nulla sagittis elit felis, ac facilisis quam ornare aliquam. Etiam cursus odio vitae dui dignissim, sed tempus lacus tincidunt et donec sapien velit, rhoncus eu nulla a, molestie tempus mi maecenas sagittis ornare. Pellentesque sapien mi,<a href="#"> tincidunt nec magna vitae</a>, volutpat elementum odioni lorem Aliquam tempor massa vitae augue mattis tempor id in ante ut augue erat, luctus eil.</div>
		</div>
	</div>
	<div class="brand_mainContainer__item modified">
		<div class="brand_mainContainer__item__textContainer">
			<div class="brand_mainContainer__item__h4">hand designed clothing</div>
			<div class="brand_mainContainer__item__h5">established in 2013, avenue fashion Sed dictum elit vel sapien luctus eras</div>
			<div class="brand_mainContainer__item__text">Praesent feugiat malesuada tristique maecenas rhoncus diam eget quam vestibulim consectetur, id condimentum leo porttitor. Cum sociis natoque penatibus eta magnis disut parturient montes, nascetur ridiculus mus. Donec sem lorem laoreet tempor un risus vitae, rutrum sodales nibh suspendisse congue metus nunc, id viverra elit loreti rhoncus quis consecteur es. Donec pulvinar tempor lorem a pretium justo interdum.</div>
		</div>
		<div class="brand_mainContainer__item__img"><img src="static/img/assets/brand_page/REPLACE_3.png" alt=""></div>
		<div class="brand_mainContainer__item__textContainer">
			<div class="brand_mainContainer__item__h4">Ethical trading</div>
			<div class="brand_mainContainer__item__h5">we oversee the working conditions of the people in the supply chain</div>
			<div class="brand_mainContainer__item__text">Nullam dapibus consectetur neque, faucibus porttitor purus iaculis sed. Aenean eras dapibus augue, eget dignissim dui maecenas et rhoncus mim, vel semper arcu lorem Pellentesque congue justo esteir pellentesque aliquet massa eget posuere tincidunt. Cras viverra ullamcorper nunc accumsan hendrerit. <a href="#">A link <i class="fas fa-long-arrow-alt-right"></i></a></div>
		</div>
		<div class="brand_mainContainer__item__awards">
			<div class="brand_mainContainer__item__awards__img"><img src="static/img/assets/brand_page/REPLACE_4.png" alt=""></div>
			<div class="brand_mainContainer__item__awards__img"><img src="static/img/assets/brand_page/REPLACE_5.png" alt=""></div>
			<div class="brand_mainContainer__item__awards__img"><img src="static/img/assets/brand_page/REPLACE_6.png" alt=""></div>
		</div>
	</div>
</div>