<div class="header">
	<div class="header_topMenu__background">
		<div class="header_topMenu">
			<div class="topMenu_currency">Currency : GBP <i class="fas fa-chevron-down"></i></div>
			<div class="topMenu_menu">
				<a href="#" class="topMenu_menu__item">Register</a>
				<a href="#" class="topMenu_menu__item">Sign in</a>
				<div class="topMenu_menu__basket"><i class="fas fa-shopping-cart"></i> empty <i class="fas fa-chevron-down"></i></div>
			</div>
		</div>
	</div>
	<div class="header_bottomMenu__background">
		<div class="header_bottomMenu">
			<a href="#" class="header_logo"><span>avenue</span> fashion</a>
			<div class="header_navigationMenu">
				<a href="#" class="header_navigationMenu__item"><i class="fas fa-chevron-down"></i> mens
					<div class="navigationMenu_item__dropdown mens">
 <!--						<div class="dropdown_item">
							<p class="dropdown_item__text"></p>
							<a href="#" class="dropdown_item__link"></a>
							<a href="#" class="dropdown_item__link"></a>
							<a href="#" class="dropdown_item__link"></a>
							<a href="#" class="dropdown_item__link"></a>
							<a href="#" class="dropdown_item__link"></a>
							<a href="#" class="dropdown_item__link"></a>
						</div>
						<div class="dropdown_item">
							<p class="dropdown_item__text"></p>
							<a href="#" class="dropdown_item__link"></a>
							<a href="#" class="dropdown_item__link"></a>
							<a href="#" class="dropdown_item__link"></a>
							<a href="#" class="dropdown_item__link"></a>
						</div>
						<div class="dropdown_img"></div>-->
					</div> 
				</a>
				<a href="#" class="header_navigationMenu__item"><i class="fas fa-chevron-down"></i> womens
					<div class="navigationMenu_item__dropdown womens"></div>
				</a>
				<a href="#" class="header_navigationMenu__item">the brand</a>
				<a href="#" class="header_navigationMenu__item">local stores</a>
				<a href="#" class="header_navigationMenu__item"><i class="fas fa-chevron-down"></i> look book
					<div class="navigationMenu_item__dropdown lookBook"></div>
				</a>
			</div>
			<div class="header_search">
				<input type="text" name="search" class="header_search__area" placeholder="Search..">
				<button class="header_search__btn"><i class="fas fa-search"></i></button>
			</div>
		</div>
	</div>
</div>