//Top menu
.header_topMenu__background {
	width: 100%;
	height: 45px;
	background-color: #333;
}
.header_topMenu {
	width: 1170px;
	height: 45px;
	margin: 0px auto;
	display: flex;
	justify-content: space-between;
	font-family: 'Montserrat Regular', Arial ,sans-serif;
	font-size: 13px;
	.fa-chevron-down {
		font-size: 13px;
		margin-left: 5px;
	}
}
.topMenu {
	&_currency {
		width: 150px;
		height: 45px;
		line-height: 41px;
		color: #999;
	}
	&_menu {
		width: 370px;
		height: 45px;
		display: flex;
		justify-content: space-between;
		&__item {
			display: block;
			height: 45px;
			text-decoration: none;
			line-height: 45px;
			color: #999;
			transition: 0.3s;
			&:hover {
				text-decoration: none;
				color: #00c8c8;
			}
		}
		&__basket {
			width: 147px;
			height: 45px;
			background-color: #00c8c8;
			text-align: center;
			color: #fff;
			line-height: 44px;
			cursor: pointer;
			.fa-shopping-cart {
				margin-left: -5px;
				margin-right: 15px;
			}
		}
	}
}
//*******
.topMenu_currency {
	.nice-select {
		float: right;
		background-color: #333;
		border: none;
		line-height: 45px;
		.list {
			background-color: #333;
		}
		z-index: 10000;
	}
}
//Bottom menu
.header_bottomMenu__background {
	width: 100%;
	height: 111px;
	position: absolute;
	top: 45px;
	z-index: 1000;
}
.header_bottomMenu {
	width: 2050px;
	height: 111px;
	margin: 0px auto;
	display: flex;
	flex-direction: row;
}
.header_logo {
	display: block;
	width: 440px;
	height: 111px;
	font-size: 24px;
	color: #222;
	font-family: 'Montserrat Regular', Arial ,sans-serif;
	text-transform: uppercase;
	box-sizing: border-box;
	padding-left: 134px;
	padding-top: 38px;
	text-decoration: none;
	span {
		font-family: 'Montserrat Bold', Arial ,sans-serif;
	}
	&:hover {
		text-decoration: none;
		color: #222;
	}
}
.header_navigationMenu__item.active { //Добавление класс для открытой страницы
	.fa-chevron-down, .header_menu__link {
		color: #00c8c8;
		text-decoration: none;
	}
}
.header_navigationMenu {
	width: 1170px;
	height: 111px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	font-family: 'Montserrat Regular', Arial ,sans-serif;
	font-size: 13px;
	text-transform: uppercase;
	&__item {
		height: 111px;
		line-height: 111px;
		margin-left: 55px;
		position: relative;
		&:hover .fa-chevron-down, &:hover .header_menu__link {
			color: #00c8c8;
			text-decoration: none;
		}
		.fa-chevron-down {
			position: absolute;
			font-size: 13px;
			color: #a5a5a5;
			left: 2px;
			bottom: 30px;
		}
		.header_menu__link {
			color: #222;
			font-weight: bolder;
			&:hover {
				color: #00c8c8;
				text-decoration: none;
			}
		}
	}
}
.header_search {
	width: 440px;
	height: 100px;
	box-sizing: border-box;
	padding-top: 37px;
	padding-left: 115px;
	&__area {
		width: 150px;
		height: 30px;
		border: 1px solid #e7e7e7;
		background-color: #f8f8f8;
		box-sizing: border-box;
		padding-left: 10px;
		padding-right: 30px;
		font-size: 13px;
		font-family: 'Montserrat Light', Arial ,sans-serif;
		color: #989898;
		outline: none;
	}
	&__btn {
		height: 30px;
		line-height: 30px;
		border: none;
		background-color: rgba(0,0,0,0);
		margin-left: -35px;
		outline: none !important;
		cursor: pointer;
		.fa-search {
			font-size: 13px;
			color: #989898;
		}
	}
}
/////Выпадающее меню
.header_navigationMenu__item:hover {
	.navigationMenu_item__dropdown {
		opacity: 1;
		left: 0;
		width: 467px;
		height: 527px;
	}
	.navigationMenu_item__dropdown__lookBook {
		height: 407px;
		opacity: 1;
		left: 0;
		width: 467px;
	}
}
.navigationMenu_item__dropdown, .navigationMenu_item__dropdown__lookBook {
	height: 0px;
	overflow: hidden;
	position: absolute;
	top: 93px;
	opacity: 0;
	left: -50px;
	background-color: #f8f8f8;
	transition: 0.5s;	
	box-shadow: 0 10px 15px rgba(0,0,0,0.2);
}
.navigationMenu_item__dropdown, .navigationMenu_item__dropdown__lookBook {
	width: 467px;
	height: 0px;
}
.header_subNav {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	box-sizing: border-box;
	justify-content: flex-start;
	padding: 30px;
	&__item {
		width: 50%;
		height: 266px;
		line-height: 1;
		.subNav_h3 {
			color: #575153;
			font-size: 12px;
			font-family: 'Montserrat Regular', Arial ,sans-serif;
			margin-bottom: 35px;
			font-weight: bolder;
			cursor: default;
		}
		.subNav_link {
			display: block;
			color: #727272;
			font-size: 14px;
			font-family: 'Montserrat Light', Arial ,sans-serif;
			text-transform: capitalize;
			margin-bottom: 20px;
			&:hover {
				text-decoration: none;
				color: #00c8c8;
			}
		}
	}
	&__bottomItem {
		cursor: default;
		width: 407px;
		height: 200px;
		background-color: #333333;
		font-size: 36px;
		color: #fff;
		box-sizing: border-box;
		padding: 60px 50px 0px 50px;
		line-height: 1.7;
		font-family: 'Montserrat Regular', Arial ,sans-serif;
		span {
			font-family: 'Montserrat Bold', Arial ,sans-serif;
		}
	}
}
//
.navigationMenu_item__dropdown__lookBook {
	.header_subNav__item {
		height: 146px;
	}
}
//Media 1920px
@media (max-width: 2049px) {
	.header_bottomMenu {
    width: calc(1920px - calc(100vw - 100%));
    justify-content: space-between;
  }
	.header_topMenu {
		width: 1100px;
	}
  .header_navigationMenu {
  	width: 1100px;
  }
	.header_logo {
		width: 375px;
	}
	.header_search {
		width: 375px;
	}
}
//Media 1600px
@media (max-width: 1919px) {
	.header_bottomMenu {
    width: calc(1600px - calc(100vw - 100%));
  }
	.header_topMenu {
		width: 1100px;
	}
  .header_navigationMenu {
  	width: 700px;
  	justify-content: space-between;
  	&__item {
  		margin: 0px;
  	}
  }
	.header_logo {
		width: 350px;
		padding-left: 80px;
	}
	.header_search {
		width: 350px;
		padding-left: 80px;
	}
}
//Media 1280px
@media (max-width: 1599px) {
	.header_bottomMenu {
    width: calc(1280px - calc(100vw - 100%));
  }
  .header_navigationMenu {
  	width: 600px;
  }
	.header_logo {
		width: 320px;
		padding-left: 50px;
	}
	.header_search {
		width: 320px;
	}
	.header_navigationMenu__item:hover {
		.navigationMenu_item__dropdown.localStores,
		.navigationMenu_item__dropdown__lookBook {
			left: auto;
			right: 0;
		}
	}
	.navigationMenu_item__dropdown.localStores,
	.navigationMenu_item__dropdown__lookBook {
		left: auto;
		right: -50px;
	}
	.fa-chevron-down.right {
		left: auto;
		right: 0px;
	}
}
//Media 1024px
@media (max-width: 1279px) {
	.header_bottomMenu {
    width: calc(1024px - calc(100vw - 100%));
  }
	.header_topMenu {
		width: 800px;
	}
  .header_navigationMenu {
  	width: 500px;
  }
	.header_logo {
		width: 220px;
		padding-left: 30px;
		padding-top: 20px;
		box-sizing: border-box;
	}
	.header_search {
		width: 220px;
		padding-left: 40px;
		padding-top: 40px;
		box-sizing: border-box;
	}
}
//Media 768px
@media (max-width: 1023px) {
	.header_topMenu__background {
		display: none;
	}
	.header_bottomMenu__background {
		display: none;
	}
	.header_bottomMenu {
		display: none;
	}
}