<div class="header">
	<div class="header_topMenu__background">
		<div class="header_topMenu">
			<div class="topMenu_currency">Currency : GBP <i class="fas fa-chevron-down"></i></div>
			<div class="topMenu_menu">
				<a href="sign_in.html" class="topMenu_menu__item">Register</a>
				<a href="sign_in.html" class="topMenu_menu__item">Sign in</a>
				<div class="topMenu_menu__basket"><i class="fas fa-shopping-cart"></i> empty <i class="fas fa-chevron-down"></i></div>
			</div>
		</div>
	</div>
	<div class="header_bottomMenu__background">
		<div class="header_bottomMenu">
			<a href="index.html" class="header_logo"><span>avenue</span> fashion</a>
			<div class="header_navigationMenu">
				<div class="header_navigationMenu__item"><i class="fas fa-chevron-down"></i>
					<a href="#" class="header_menu__link">mens</a>
					<div class="navigationMenu_item__dropdown mens">
						<div class="header_subNav">
							<div class="header_subNav__item">
								<h3 class="subNav_h3">casuals</h3>
								<a href="look_book.html" class="subNav_link">casuals</a>
								<a href="look_book.html" class="subNav_link">Hoodies & Sweatshirts</a>
								<a href="look_book.html" class="subNav_link">Polo Shirts</a>
								<a href="look_book.html" class="subNav_link">Sportswear</a>
								<a href="look_book.html" class="subNav_link">Sportswear</a>
								<a href="look_book.html" class="subNav_link">T-Shirts</a>
							</div>
							<div class="header_subNav__item">
								<h3 class="subNav_h3">Formal</h3>
								<a href="look_book.html" class="subNav_link">Jackets</a>
								<a href="look_book.html" class="subNav_link">Shirts</a>
								<a href="look_book.html" class="subNav_link">Suits</a>
								<a href="look_book.html" class="subNav_link">Trousers</a>
							</div>
							<div class="header_subNav__bottomItem"><span>Autumn sale!</span> up to 50% off</div>
						</div>
					</div> 
				</div>
				<div class="header_navigationMenu__item"><i class="fas fa-chevron-down"></i>
					<a href="#" class="header_menu__link">womens</a>
					<div class="navigationMenu_item__dropdown womens">
						<div class="header_subNav">
							<div class="header_subNav__item">
								<h3 class="subNav_h3">casuals</h3>
								<a href="look_book.html" class="subNav_link">casuals</a>
								<a href="look_book.html" class="subNav_link">Hoodies & Sweatshirts</a>
								<a href="look_book.html" class="subNav_link">Polo Shirts</a>
								<a href="look_book.html" class="subNav_link">Sportswear</a>
								<a href="look_book.html" class="subNav_link">Sportswear</a>
								<a href="look_book.html" class="subNav_link">T-Shirts</a>
							</div>
							<div class="header_subNav__item">
								<h3 class="subNav_h3">Formal</h3>
								<a href="look_book.html" class="subNav_link">Jackets</a>
								<a href="look_book.html" class="subNav_link">Shirts</a>
								<a href="look_book.html" class="subNav_link">Suits</a>
								<a href="look_book.html" class="subNav_link">Trousers</a>
							</div>
							<div class="header_subNav__bottomItem"><span>Autumn sale!</span> up to 50% off</div>
						</div>
					</div>
				</div>
				<div class="header_navigationMenu__item">
					<a href="brand.html" class="header_menu__link">the brand</a>
				</div>
				<div class="header_navigationMenu__item"><i class="fas fa-chevron-down"></i>
					<a href="local_stores.html" class="header_menu__link">local stores</a>
					<div class="navigationMenu_item__dropdown localStores">
						<div class="header_subNav">
							<div class="header_subNav__item">
								<h3 class="subNav_h3">lorem</h3>
								<a href="" class="subNav_link">lorem</a>
								<a href="" class="subNav_link">lorem</a>
								<a href="" class="subNav_link">lorem</a>
								<a href="" class="subNav_link">lorem</a>
								<a href="" class="subNav_link">lorem</a>
								<a href="" class="subNav_link">lorem</a>
							</div>
							<div class="header_subNav__item">
								<h3 class="subNav_h3">lorem</h3>
								<a href="" class="subNav_link">lorem</a>
								<a href="" class="subNav_link">lorem</a>
								<a href="" class="subNav_link">lorem</a>
								<a href="" class="subNav_link">lorem</a>
								<a href="" class="subNav_link">lorem</a>
								<a href="" class="subNav_link">lorem</a>
							</div>
							<div class="header_subNav__bottomItem"><span>Autumn sale!</span> up to 50% off</div>
						</div>
					</div>
				</div>
				<div class="header_navigationMenu__item"><i class="fas fa-chevron-down"></i>
					<a href="look_book.html" class="header_menu__link">look book</a>
					<div class="navigationMenu_item__dropdown__lookBook">
						<div class="header_subNav">
							<div class="header_subNav__item">
								<h3 class="subNav_h3">Our Lookbooks</h3>
								<a href="look_book.html" class="subNav_link">Latest Posts (mixed)</a>
								<a href="look_book.html" class="subNav_link">Men’s Lookbook</a>
								<a href="look_book.html" class="subNav_link">Women’s Lookbook</a>
							</div>
							<div class="header_subNav__item">
								<h3 class="subNav_h3">Your Lookbook</h3>
								<a href="look_book.html" class="subNav_link">View and Edit</a>
								<a href="look_book.html" class="subNav_link">Share</a>
								<a href="look_book.html" class="subNav_link">Delete</a>
							</div>
							<div class="header_subNav__bottomItem"><span>Autumn sale!</span> up to 50% off</div>
						</div>
					</div>
				</div>
			</div>
			<div class="header_search">
				<input type="text" name="search" class="header_search__area" placeholder="Search..">
				<button class="header_search__btn"><i class="fas fa-search"></i></button>
			</div>
		</div>
	</div>
</div>