.home_content {
	width: 1770px;
	min-height: 1424px;
	height: auto;
	margin: 0px auto;
	box-sizing: border-box;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	&__menu {
		width: 100%;
		height: 127px;
		display: flex;
		justify-content: flex-start;
		line-height: 127px;
		font-size: 13px;
		&__item {
			text-transform: uppercase;
			transition: 0.3s;
			margin-right: 55px;
			font-family: 'Montserrat Regular', Arial ,sans-serif;
			color: #727272;
			font-weight: bolder;
			&:hover {
				text-decoration: none;
				color: #77e2e2;
			}
		}
	}
}
.home_content__container {
	width: 100%;
	min-height: 1297px;
	height: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	&__block {
		width: 870px;
		min-height: 1297px;
		height: auto;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		&__item {
			width: 420px;
			height: 500px;
			position: relative;
			img {
				max-width: 100%;
				max-height: 100%;
			}
		}
		&__item.bigItem {
			width: 870px;
			height: 704px;
		}
	}
}
.price {
	display: flex;
	flex-direction: row;
	font-size: 21px;
	font-family: 'Montserrat Light', Arial ,sans-serif;
	position: absolute;
	top: 15px;
	left: 15px;
	color: #aeaeae;
	.fa-pound-sign {
		font-size: 12px;
	}
	&_sale {
		display: none;
		box-sizing: border-box;
		padding-left: 10px;
		margin-right: 15px;
		position: relative;
		text-decoration: line-through;
		.fa-pound-sign {
			position: absolute;
			top: 7px;
			left: 0;
		}
	}
	&_total {
		box-sizing: border-box;
		padding-left: 10px;
		position: relative;
		.fa-pound-sign {
			position: absolute;
			top: 7px;
			left: 0;
		}
	}
}
.home_content__container__block__item.sale {
	.price_sale {
		display: block;
	}
}
.home_content__container__block__item:hover {
	box-shadow: 0px 10px 10px rgba(0,0,0,0.3);
	cursor: pointer;
	.hoverInfo {
		height: 170px;
		box-shadow: 0px 10px 10px rgba(0,0,0,0.3);
		&__infoIcon {
			opacity: 1;
		}
	}
	.hoverInfo__miniImg {
		opacity: 1;
	}
}
.home_content__container__block__item.bigItem:hover {
	box-shadow: 0px 10px 10px rgba(0,0,0,0.3);
	cursor: pointer;
	.hoverInfo {
		height: 150px;
		box-shadow: 0px 10px 10px rgba(0,0,0,0.3);
		&__infoIcon {
			opacity: 1;
		}
	}
	.hoverInfo__miniImg {
		opacity: 1;
	}
}
.hoverInfo {
	overflow: hidden;
	height: 0px;
	width: 100%;
	transition: 0.7s;
	position: absolute;
	top: 100%;
	z-index: 100;
	background-color: #ffffff;
	box-sizing: border-box;
	border-top: 1px solid #eeeeee;
	&__h5 {
		margin-top: 20px;
		font-size: 13px;
		text-transform: uppercase;
		font-family: 'Montserrat Regular', Arial ,sans-serif;
		text-align: center;
		color: #727272;
	}
	&__text {
		text-align: center;
		color: #8e8c8c;
		font-size: 15px;
		font-family: 'Roboto Regular', Arial ,sans-serif;
		box-sizing: border-box;
		margin-top: 20px;
		margin-bottom: 15px;
		padding: 0px 50px;
	}
	&__icons {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		&__item {
			width: 30px;
			height: 30px;
			border-radius: 50%;
			color: #ffffff;
			background-color: #727272;
			text-align: center;
			line-height: 30px;
			margin: 0px 7px;
			&:hover {
				background-color: #00c8c8;
			}
		}
	}
	&__infoIcon {
		width: 40px;
		height: 40px;
		opacity: 0;
		transition: 0.7s;
		position: absolute;
		top: calc(70% - 20px);
		left: calc(50% - 20px);
		z-index: 100;
		a {
			color: #ffffff;
		}
		.fa-info-circle {
			font-size: 40px;
			&:hover {
				color: #00c8c8;
			}
		}
	}
	&__price {
		padding-left: 10px;
		position: relative;
		span {
			position: absolute;
			font-size: 10px;
			top: 0px;
			left: 3px;
		}
	}
}
.hoverInfo__miniImg {
	opacity: 0;
	transition: 0.7s;
	width: 82px;
	height: 219px;
	position: absolute;
	top: 16px;
	right: 16px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	&__item {
		width: 82px;
		height: 102px;
		box-sizing: border-box;
		border: 1px solid #fff;
		transition: 0.3s;
		&:hover {
			border: 1px solid #727272;
		}
		img {
			max-width: 100%;
			max-height: 100%;
		}
	}
}
//Media 1600px
@media (max-width: 1919px) {
	.home_content {
		width: 1540px;
		min-height: 1120px;
		height: auto;
	}
	.home_content__container,.home_content__container__block {
		min-height: 1120px;
		height: auto;
	}
	.home_content__container__block {
		width: 755px;
	}
	.home_content__container__block__item {
	  width: 370px;
	  height: 440px;
	}
	.home_content__container__block__item.bigItem {
		width: 755px;
		height: 611px;
	}
}
//Media 1280px
@media (max-width: 1599px) {
	.home_content {
		width: 1220px;
		min-height: 875px;
	}
	.home_content__container,.home_content__container__block {
		min-height: 875px;
	}
	.home_content__container__block {
		width: 600px;
	}
	.home_content__container__block__item {
	  width: 290px;
	  height: 345px;
	}
	.home_content__container__block__item.bigItem {
		width: 755px;
		height: 486px;
	}
	.home_content__container__block__item:hover {
		.hoverInfo {
			z-index: 15;
			height: 200px;
		}
	}
}