<div class="home_content">
	<div class="home_content__menu">
		<a href="#" class="home_content__menu__item">popular</a>
		<a href="#" class="home_content__menu__item">new arrivals</a>
		<a href="#" class="home_content__menu__item">best sellers</a>
		<a href="#" class="home_content__menu__item">special offers</a>
		<a href="#" class="home_content__menu__item">coming soon</a>
	</div>
	<div class="home_content__container">
		<div class="home_content__container__block">
			<div class="home_content__container__block__item">
				<img src="static/img/assets/home_content/photo1.png" alt="">
				<div class="price">
					<div class="price_sale"><i class="fas fa-pound-sign"></i> 00.00</div>
					<div class="price_total"><i class="fas fa-pound-sign"></i> 89.99</div>
				</div>
				<div class="hoverInfo">
					<h5 class="hoverInfo__h5">Womens burnt orange casual tee  £29.95</h5>
					<p class="hoverInfo__text">Classic casual t-shirt for women on the move. 100% cotton.</p>
					<div class="hoverInfo__icons">
						<div class="hoverInfo__icons__item"><i class="fas fa-shopping-cart"></i></div>
						<div class="hoverInfo__icons__item"><i class="far fa-heart"></i></div>
						<div class="hoverInfo__icons__item"><i class="fas fa-compress-arrows-alt"></i></div>
					</div>
				</div>
				<div class="hoverInfo__infoIcon">
					<i class="fas fa-info-circle"></i>
				</div>
				<div class="hoverInfo__miniImg">
					<div class="hoverInfo__miniImg__item"><img src="static/img/assets/home_content/miniPhoto1.png" alt=""></div>
					<div class="hoverInfo__miniImg__item"><img src="static/img/assets/home_content/miniPhoto2.png" alt=""></div>
				</div>
			</div>
			<div class="home_content__container__block__item">
				<img src="static/img/assets/home_content/photo2.png" alt="">
				<div class="price">
					<div class="price_sale"><i class="fas fa-pound-sign"></i> 00.00</div>
					<div class="price_total"><i class="fas fa-pound-sign"></i> 74.50</div>
				</div>
				<div class="hoverInfo">
					<h5 class="hoverInfo__h5">Womens burnt orange casual tee  £29.95</h5>
					<p class="hoverInfo__text">Classic casual t-shirt for women on the move. 100% cotton.</p>
					<div class="hoverInfo__icons">
						<div class="hoverInfo__icons__item"><i class="fas fa-shopping-cart"></i></div>
						<div class="hoverInfo__icons__item"><i class="far fa-heart"></i></div>
						<div class="hoverInfo__icons__item"><i class="fas fa-compress-arrows-alt"></i></div>
					</div>
				</div>
				<div class="hoverInfo__infoIcon">
					<i class="fas fa-info-circle"></i>
				</div>
				<div class="hoverInfo__miniImg">
					<div class="hoverInfo__miniImg__item"><img src="static/img/assets/home_content/miniPhoto1.png" alt=""></div>
					<div class="hoverInfo__miniImg__item"><img src="static/img/assets/home_content/miniPhoto2.png" alt=""></div>
				</div>
			</div>
			<div class="home_content__container__block__item bigItem">
				<img src="static/img/assets/home_content/photo3.png" alt="">
				<div class="price">
					<div class="price_sale"><i class="fas fa-pound-sign"></i> 00.00</div>
					<div class="price_total"><i class="fas fa-pound-sign"></i> 69.95</div>
				</div>
				<div class="hoverInfo">
					<h5 class="hoverInfo__h5">Womens burnt orange casual tee  £29.95</h5>
					<p class="hoverInfo__text">Classic casual t-shirt for women on the move. 100% cotton.</p>
					<div class="hoverInfo__icons">
						<div class="hoverInfo__icons__item"><i class="fas fa-shopping-cart"></i></div>
						<div class="hoverInfo__icons__item"><i class="far fa-heart"></i></div>
						<div class="hoverInfo__icons__item"><i class="fas fa-compress-arrows-alt"></i></div>
					</div>
				</div>
				<div class="hoverInfo__infoIcon">
					<i class="fas fa-info-circle"></i>
				</div>
				<div class="hoverInfo__miniImg">
					<div class="hoverInfo__miniImg__item"><img src="static/img/assets/home_content/miniPhoto1.png" alt=""></div>
					<div class="hoverInfo__miniImg__item"><img src="static/img/assets/home_content/miniPhoto2.png" alt=""></div>
				</div>
			</div>			
		</div>
		<div class="home_content__container__block">
			<div class="home_content__container__block__item bigItem sale">
				<img src="static/img/assets/home_content/photo4.png" alt="">
				<div class="price">
					<div class="price_sale"><i class="fas fa-pound-sign"></i> 107</div>
					<div class="price_total"><i class="fas fa-pound-sign"></i> 89.99</div>
				</div>
				<div class="hoverInfo">
					<h5 class="hoverInfo__h5">Womens burnt orange casual tee  £29.95</h5>
					<p class="hoverInfo__text">Classic casual t-shirt for women on the move. 100% cotton.</p>
					<div class="hoverInfo__icons">
						<div class="hoverInfo__icons__item"><i class="fas fa-shopping-cart"></i></div>
						<div class="hoverInfo__icons__item"><i class="far fa-heart"></i></div>
						<div class="hoverInfo__icons__item"><i class="fas fa-compress-arrows-alt"></i></div>
					</div>
				</div>
				<div class="hoverInfo__infoIcon">
					<i class="fas fa-info-circle"></i>
				</div>
				<div class="hoverInfo__miniImg">
					<div class="hoverInfo__miniImg__item"><img src="static/img/assets/home_content/miniPhoto1.png" alt=""></div>
					<div class="hoverInfo__miniImg__item"><img src="static/img/assets/home_content/miniPhoto2.png" alt=""></div>
				</div>
			</div>
			<div class="home_content__container__block__item">
				<img src="static/img/assets/home_content/photo5.png" alt="">
				<div class="price">
					<div class="price_sale"><i class="fas fa-pound-sign"></i> 00.00</div>
					<div class="price_total"><i class="fas fa-pound-sign"></i> 29.95</div>
				</div>
				<div class="hoverInfo">
					<h5 class="hoverInfo__h5">Womens burnt orange casual tee  £29.95</h5>
					<p class="hoverInfo__text">Classic casual t-shirt for women on the move. 100% cotton.</p>
					<div class="hoverInfo__icons">
						<div class="hoverInfo__icons__item"><i class="fas fa-shopping-cart"></i></div>
						<div class="hoverInfo__icons__item"><i class="far fa-heart"></i></div>
						<div class="hoverInfo__icons__item"><i class="fas fa-compress-arrows-alt"></i></div>
					</div>
				</div>
				<div class="hoverInfo__infoIcon">
					<i class="fas fa-info-circle"></i>
				</div>
				<div class="hoverInfo__miniImg">
					<div class="hoverInfo__miniImg__item"><img src="static/img/assets/home_content/miniPhoto1.png" alt=""></div>
					<div class="hoverInfo__miniImg__item"><img src="static/img/assets/home_content/miniPhoto2.png" alt=""></div>
				</div>
			</div>
			<div class="home_content__container__block__item">
				<img src="static/img/assets/home_content/photo6.png" alt="">
				<div class="price">
					<div class="price_sale"><i class="fas fa-pound-sign"></i> 00.00</div>
					<div class="price_total"><i class="fas fa-pound-sign"></i> 34.79</div>
				</div>
				<div class="hoverInfo">
					<h5 class="hoverInfo__h5">Womens burnt orange casual tee  £29.95</h5>
					<p class="hoverInfo__text">Classic casual t-shirt for women on the move. 100% cotton.</p>
					<div class="hoverInfo__icons">
						<div class="hoverInfo__icons__item"><i class="fas fa-shopping-cart"></i></div>
						<div class="hoverInfo__icons__item"><i class="far fa-heart"></i></div>
						<div class="hoverInfo__icons__item"><i class="fas fa-compress-arrows-alt"></i></div>
					</div>
				</div>
				<div class="hoverInfo__infoIcon">
					<i class="fas fa-info-circle"></i>
				</div>
				<div class="hoverInfo__miniImg">
					<div class="hoverInfo__miniImg__item"><img src="static/img/assets/home_content/miniPhoto1.png" alt=""></div>
					<div class="hoverInfo__miniImg__item"><img src="static/img/assets/home_content/miniPhoto2.png" alt=""></div>
				</div>
			</div>
		</div>
	</div>
</div>