<div class="signIn_top">
	<div class="intro">
		<img src="%=static=%img/general/photo.png" alt="">
		<span class="intro_bgText">A V E</span>
		<div class="darken"></div>
		<div class="intro_text">
			<h2 class="intro_h2"><span>welcome</span> to ave</h2>
			<h3 class="intro_h3">sign in or register</h3>
		</div>
	</div>
</div>
<div class="signIn_content">
	<div class="signIn_content__item signInBlock">
		<form action="#" method="POST" name="sign_in_form" class="signInForm">
			<p class="signInForm_text">sign in</p>
			<input type="email" class="signInForm_email" name="sign_in_email" placeholder="Your Email.." required>
			<input type="password" class="signInForm_password" name="sign_in_password" placeholder="Your password.." required>
			<input type="submit" name="sign_in_submit" class="signInForm_submit" value="sign in">
			<a href="#" class="signInForm_link">Forgot your Password <i class="fas fa-long-arrow-alt-right"></i></a>
		</form>
	</div>
	<div class="signIn_content__item registerBlock">
		<form action="#" method="POST" name="register_form" class="registerForm">
			<p class="registerForm_text">register</p>
			<input type="email" class="registerForm_email" name="register_email" placeholder="Your Email.." required>
			<input type="password" class="registerForm_password" name="register_password" placeholder="Your password.." required>
			<input type="password" class="registerForm_password_confirm" name="register_password_confirm" placeholder="Confirm password.." required>
			<label for="registerCheckbox" class="checkbox_label"><input type="checkbox" class="registerForm_checkbox" id="registerCheckbox"> Sign up for exclusive updates, discounts, new arrivals, contests, and more!</label>
			<input type="submit" name="register_submit" class="registerForm_submit" value="create account">
			<p class="registerForm_privacyPolicy">By clicking ‘Create Account’, you agree to our <a href="#" class="registerForm_privacyPolicy__link">Privacy Policy <i class="fas fa-long-arrow-alt-right"></i></a></p>
		</form>
	</div>
</div>